.container {
  display: flex;
  flex-direction: column;
}

.itemUser {
  display: flex;
  margin-bottom: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  max-width: 80px;
  margin: 10px;
}

.btn {
  border-radius: 3px;
  border: 1px silver solid;
  width: 80px;
}

.avatar {
  width: 80px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  border: 2px silver solid;
  border-radius: 10px;
  width: 400px;
  padding: 10px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 20px;
}

h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.selectedPageActiv {
  color: red;
  padding: 3px;

}.selectedPage {
   padding: 3px;
}

.pagesNumber {
  cursor: pointer;
  max-width: 300px;
  overflow: hidden;
}
